{
  "semi": true,
  "tabWidth": 2,
  "singleQuote": false,
  "trailingComma": "all",
  "bracketSameLine": false,
  "arrowParens": "always",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
